body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}  
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
h1 {
    text-align: center;
}  
input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
}  
button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}  
ul {
    list-style-type: none;
    padding: 0;
}  
li {
    margin-bottom: 5px;
}

/* Dark mode option*/
.dark-mode .container {
    background-color: #222;
    color: #fff;
    box-shadow: 0px 0px 20px #222831;
}
.dark-mode .container button {
    background-color: #333;
}
.dark-mode .container button:hover {
    background-color: #fff;
    color: #000000;
}
.dark-mode .container .delete-btn {
    background-color: #f55;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}
button#darkModeBtn{
    margin-left: 145px;
}

/* Media query for mobile view */
@media only screen and (max-width: 500px) {
    .container {
        max-width: 100%;
        margin: 20px auto;
        padding: 10px;
    }
    
    input[type="text"] {
        width: 100%;
    }

    button#darkModeBtn {
        margin-left: 0;
        margin-top: 10px;
    }
}